<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598280964598-oetvoa7tpdlnc3e76a64r55m16dq05cl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598280964598-oetvoa7tpdlnc3e76a64r55m16dq05cl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>598280964598-keesbe7r7q9obulstb99akpm66uc00q3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBw1eB4fju_K-PXH32nC2iqaCOyculY2GY</string>
	<key>GCM_SENDER_ID</key>
	<string>598280964598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hexplore.chatOnline</string>
	<key>PROJECT_ID</key>
	<string>chatonlineflutter-df763</string>
	<key>STORAGE_BUCKET</key>
	<string>chatonlineflutter-df763.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598280964598:ios:fc570b0f7e9949a1</string>
	<key>DATABASE_URL</key>
	<string>https://chatonlineflutter-df763.firebaseio.com</string>
</dict>
</plist>